body {
    margin: 0;
    background: #0f0f0f;
    font-family: Arial;
    color: white;
}

header {
    padding: 20px;
    background: #181818;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #00eaff;
}

.container {
    width: 90%;
    margin: 20px auto;
    max-width: 900px;
}

.card {
    background: #1c1c1c;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #0099ff50;
}

h2 {
    color: #00eaff;
}

label {
    font-size: 16px;
}

select, input, textarea, button {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
}

button {
    background: #00eaff;
    color: black;
    cursor: pointer;
    font-weight: 600;
    margin-top: 15px;
}

button:hover {
    background: #008bbf;
}

.section-title {
    font-size: 20px;
    margin-bottom: 10px;
    color: #ffde59;
}

.hidden { 
    display: none; 
}
